.main-logo {
    width: 85%;
    height: 85%;
}

.main-header {
    background-color: #094067;
}

.dropdown-avatar {
    position: relative;
    display: inline-block;
}

.dropdown-avatar img {
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
}

.dropdown-toggle {
    color: white;
}
.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }

.custom-bg-tertiary {
    background-color: #ef4565;
}
  
  /*
   * Sidebar
   */
  
  @media (min-width: 768px) {
    .sidebar .offcanvas-lg {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
    }
    .navbar-search {
      display: block;
    }
  }
  
  .sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
  }
  
  .sidebar .nav-link.active {
    color: #094067;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }

  .sidebar .nav-link:hover {
    /* background-color: #ff8e3c; */
    background-color: #ef4565;
    color: whitesmoke;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }

  .text-blue {
    color: #094067;
  }

  .text-red {
    color: #ef4565;
  }